/* Desenvolva sua estilização aqui ... */
.main__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    border-radius: .25rem;
   
    width: 43rem;
    height: 8.25rem;
}

.theme__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5625rem;
    height: 1.5625rem;
   
    padding: .175rem;


    background: var(--color-grey-8);
    border-radius: .3125rem;
}

.theme__button{
    width: .85rem;
}

.theme__button{
    cursor: pointer;
}

.gender__filter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .625rem;
}

.button__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3125rem;
}

.filter__button{
    width: fit-content;
    height: fit-content;

    background-color: var( --color-grey-8);
    font-weight: 500;
    font-size: .875rem;
    border: .0625rem solid var(--color-grey-7);
    border-radius: .25rem;
    padding: .5rem;
    margin: .5rem;
    
    color: var(--color-grey-1);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.filter__button:hover{
    background-color: var(--color-grey-0);
    color: var(--color-white-fixed);
    cursor: pointer;
}

.price__filter{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .625rem;
}

.label__price--filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__container{
    min-height: 32.25rem;
}

.main__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.825rem;
}

.list__card{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.album__img{
    width: 19.25rem;
    height: 7.0625rem;
}

.info__card{
    width: 19.25rem;
    height: 8.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--color-grey-8);
    padding: .625rem;
    
    gap: .925rem;
    background-color: var(--color-grey-8);
}

.info__container{
    display: flex;
    gap: .625rem;
    
    font-size: .75rem;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
    margin-top: .3125rem;
}

.footer__info button {
    width: fit-content;
    height: fit-content;
    font-size: .75rem;

    border: 0rem;
    font-weight: 500;
    font-size: .875rem;
    background-color:var(--color-grey-8) ;
    color: #2B2F33;
    padding: .25rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer__info button:hover{
    cursor: pointer;
}



